@media only screen and (max-width: 680px) and (min-width: 200px) {
  body {
    width: 100%;
    height: 100vh;
  }
  main {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 18rem;
    height: auto;
    color: hsl(0, 0%, 8%);
    border-radius: 20px;
    border-bottom-right-radius: 8rem;
  }
  main .input_sec input {
    width: 4.3rem;
    font-size: 18px;
  }
  main .div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  hr {
    width: 14rem;
    position: relative;
    z-index: 10;
    left: 0.7rem;
    margin-top: 1rem;
  }
  main .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 50;
    margin-top: 1rem;
  }
  main .reset {
    position: inherit;
  }
  main .results h2 {
    font-size: 2.8rem;
    line-height: 2rem;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
